name: Deploy-dist

on:
    push:
        branches:
            - main
jobs:
    deploy:
     runs-on: ubuntu-latest
     steps:
        - name: Deploy Application
          run: |
           echo "${{toJson(github)}}"
           git clone https://github.com/${{github.repository}}.git 
        - name: install node js
          uses: actions/setup-node@v3
          with:
               node-version: '16'
        - name: Install Dependencies
          run: npm ci
        - name: Build Application
          run: npm run build            
